.vscode
DIT441/Labs/introfp-lab-2-main/dist-newstyle
DIT441/Labs/introfp-lab-2-main/.ghc.environment.x86_64-mingw32-9.4.2
DIT441/Labs/introfp-lab-2B-main/dist-newstyle
DIT441/Labs/introfp-lab-2B-main/.ghc.environment.x86_64-mingw32-9.4.2
DIT441/Labs/intro-fp-lab-3-main/dist-newstyle
DIT441/Labs/intro-fp-lab-3-main/.ghc.environment.x86_64-mingw32-9.4.2
